body {
  margin: 0 auto;
  width: 10vw;
  border: medium solid #000000;
}

#display {
  border: thick solid #000000;
  text-align: center;
  height: 5vh;
  font-size: 1.8vw;
}

#buttonDiv {
  display: grid;
  background-color: #000000;
}

#row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

#row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

#row3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

#row4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

button {
  border-radius: 45%;
  height: 2.5vw;
  width: 2.5vw;
  font-size: 2vw;
}
